body {
	background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d9a7c7, #fffcdc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d9a7c7, #fffcdc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


body h1 {
	text-align: center;
	font-family:  cursive;
	font-size: 60px;
	color:#e66767;
}

#container1 {
	width: 150px;
	height: 150px;
	border: 2px solid pink;
	text-align: center;
	background-color:#ff6b81;
	position: relative;
	left: 310px;
	border-radius: 20px;
}

#name1 {
	position: relative;
	left: 200px;
	color:#B33771;
	font-size: 50px;
}

#name2 {
	position: relative;
	left: 500px;
	bottom:150px;
	color: #7158e2;
	font-size: 50px;
}


#container2 {
	width: 150px;
	height: 150px;
	border: 2px solid white;
	text-align: center;
	background-color:#ffd32a;
	margin-top: 10px;
	border-radius: 20px;
	position: relative;
	left: 195px;

}

h2 ul {
	color: lightblue;
}












